$lato: 'Lato', sans-serif;
$russoOne: 'Russo One', sans-serif;
$size: 75px;

*,
*::before,
*::after{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
}
img{
    display: block;
    width: 100%;
}
h1{
    text-align: center;
    font-family: $russoOne
}
.container{    
    margin: 2em 0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto;    
    // outline: 1px solid red;
    // margin: 2em 0;
}
.ani{
    position: relative;
    border: solid 3px seagreen;
    height: 300px;
}
.box{
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    background: mediumvioletred;
}
.animate{
    animation: move 1.5s linear infinite;
    animation-direction: alternate;
}
@keyframes move{
    to{
        left: calc(100% - #{$size});
        top: calc(100% - #{$size});
    }
}
.banner{
    
}
.slider{
    width: 100%;
    &__wrapper{
        position: relative;
        margin-left: 0;
        display: flex;
        width: 300%;
        animation: slideNext 1.5s linear alternate;
    }
}
@keyframes slideNext{
    to{
        left: -33.33%;
    }
}